<template>
  <div>
    <Head title="Personnel Logs" />
    <h1 class="mb-8 text-3xl font-bold">Personnel Logs</h1>
    <div class="flex items-center justify-between mb-6">
      <div v-if="can('view-all-personnel-logs')" class="flex items-center">
        <search-filter v-model="formFilter.search" class="mr-4 w-full max-w-md" @reset="reset">
          <label class="block mt-4 text-gray-700">Log shift:</label>
          <select v-model="formFilter.workShift" class="form-select mt-1 w-full">
            <option :value="null" />
            <option v-for="logShift in logShifts.data" :key="logShift.id" :value="logShift.name">{{ logShift.name }}</option>
          </select>
          <label for="role" class="block mt-4 text-gray-700">Period Start:</label>
          <TextInput
            v-model="formFilter.periodStart"
            class="mt-1 mb-5 w-full"
            type="date"
          />

          <label for="role" class="block mt-4 text-gray-700">Period End:</label>
          <TextInput
            v-model="formFilter.periodEnd"
            class="mt-1 mb-5 w-full"
            type="date"
          />
        </search-filter>
      </div>
      <div v-else class="flex items-center">
        <div class="flex w-full bg-white rounded shadow">
          <dropdown
            :auto-close="false"
            class="px-4 py-3 border rounded md:px-6 hover:bg-gray-100 focus:border-white focus:shadow-outline focus:z-10"
            placement="bottom-start"
          >
            <div class="flex items-baseline">
              <span class="hidden text-gray-700 md:inline">Filter</span>
              <svg class="w-2 h-2 fill-gray-700 md:ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 961.243 599.998">
                <path d="M239.998 239.999L0 0h961.243L721.246 240c-131.999 132-240.28 240-240.624 239.999-.345-.001-108.625-108.001-240.624-240z" />
              </svg>
            </div>
            <template #dropdown>
              <div class="mt-2 px-4 py-6 w-screen bg-white rounded shadow-xl" :style="{ maxWidth: `300px` }">
                <label class="block mt-4 text-gray-700">Log shift:</label>
                <select v-model="formFilter.workShift" class="form-select mt-1 w-full">
                  <option :value="null" />
                  <option v-for="logShift in logShifts.data" :key="logShift.id" :value="logShift.name">{{ logShift.name }}</option>
                </select>
                <label for="role" class="block mt-4 text-gray-700">Period Start:</label>
                <TextInput
                  v-model="formFilter.periodStart"
                  class="mt-1 mb-5 w-full"
                  type="date"
                />

                <label for="role" class="block mt-4 text-gray-700">Period End:</label>
                <TextInput
                  v-model="formFilter.periodEnd"
                  class="mt-1 mb-5 w-full"
                  type="date"
                />
              </div>
            </template>
          </dropdown>
        </div>
        <button
          class="ml-3 text-sm text-gray-500 hover:text-gray-700 focus:text-indigo-500"
          type="button"
          @click="reset"
        >
          Reset
        </button>
      </div>
      <Link v-if="showClockInButton" class="btn-indigo" :href="route('personnel-logs.create')">
        <span>Clock In</span>
      </Link>
    </div>
    <div class="bg-white rounded-md shadow overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tr class="text-left font-bold">
          <th class="pb-4 pt-6 px-6">Log Date</th>
          <th class="pb-4 pt-6 px-6">Log Shift</th>
          <th v-if="can('view-all-personnel-logs')" class="pb-4 pt-6 px-6">Staff Name</th>
          <th class="pb-4 pt-6 px-6">Clock In Time</th>
        </tr>
        <tr v-for="personnelLog in personnelLogs.data" :key="personnelLog.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
          <td class="border-t">
            <span class="flex items-center px-6 py-4">
              {{ personnelLog.operational_log.log_date_with_day }}
            </span>
            <icon v-if="personnelLog.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" />
          </td>
          <td class="border-t">
            <span class="flex items-center px-6 py-4">
              {{ personnelLog.operational_log.shift_name_with_time }}
            </span>
          </td>
          <td v-if="can('view-all-personnel-logs')" class="border-t">
            <span class="flex items-center px-6 py-4">
              {{ personnelLog.personnel_detail.first_name + ' ' + personnelLog.personnel_detail.last_name }}
            </span>
          </td>
          <td class="border-t">
            <span class="flex items-center px-6 py-4">
              {{ personnelLog.time }}
            </span>
          </td>
        </tr>
        <tr v-if="personnelLogs.data.length === 0">
          <td class="px-6 py-4 border-t" colspan="4">No personnel logs found.</td>
        </tr>
      </table>
    </div>

    <pagination
      v-if="personnelLogs.data.length > 0"
      class="mt-6"
      :links="personnelLogs.meta.links"
    />
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/inertia-vue3'
import Icon from '@/Shared/Icon'
import pickBy from 'lodash/pickBy'
import Layout from '@/Shared/Layout'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'
import Pagination from '@/Shared/Pagination.vue'
import TextInput from '@/Shared/TextInput.vue'
import Dropdown from '@/Shared/Dropdown.vue'
import SearchFilter from "@/Shared/SearchFilter.vue";

export default {
  components: {
    Dropdown,
    SearchFilter,
    TextInput,
    Pagination,
    Head,
    Icon,
    Link,
  },
  layout: Layout,
  props: {
    filters: Object,
    personnelLogs: Array,
    showClockInButton: Boolean,
    logShifts: [Array, Object],
  },
  data() {
    return {
      formFilter: {
        periodStart: this.filters.periodStart,
        periodEnd: this.filters.periodEnd,
        search: this.filters.search,
        workShift: this.filters.workShift,
      },
    }
  },
  watch: {
    formFilter: {
      deep: true,
      handler: throttle(function () {
        let query = pickBy(this.formFilter)
        this.$inertia.replace(this.route('personnel-logs.index', Object.keys(query).length ? query : { remember: 'forget' }))
      }, 150),
    },
  },
  methods: {
    reset() {
      this.formFilter = mapValues(this.formFilter, () => null)
    },
  },
}
</script>
