<template>
  <div>
    <Head title="Create User" />
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" :href="route('users.index')">Users</Link>
      <span class="text-indigo-400 font-medium">/</span> Create
    </h1>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="store">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <text-input v-model="formCreate.first_name" :error="errors.first_name" class="pb-8 pr-6 w-full lg:w-1/2" label="First name" />
          <text-input v-model="formCreate.last_name" :error="errors.last_name" class="pb-8 pr-6 w-full lg:w-1/2" label="Last name" />
          <text-input v-model="formCreate.email" :error="errors.email" class="pb-8 pr-6 w-full lg:w-1/2" label="Email" />
          <select-input v-model="formCreate.role" :error="errors.role" class="pb-8 pr-6 w-full lg:w-1/2" label="Role">
            <option v-for="role in roles.data" :key="role.id" :value="role.name">{{ role.name }}</option>
          </select-input>
          <text-input v-model="formCreate.password" :error="errors.password" class="pb-8 pr-6 w-full lg:w-1/2" type="password" autocomplete="new-password" label="Password" />
          <text-input v-model="formCreate.password_confirmation" :error="errors.password" class="pb-8 pr-6 w-full lg:w-1/2" type="password" autocomplete="new-password" label="Password Confirmation" />
          <select-input v-model="formCreate.position" :error="errors.position" class="pb-8 pr-6 w-full lg:w-1/2" label="Position">
            <option v-for="position in positions.data" :key="position.id" :value="position.id">{{ position.name }}</option>
          </select-input>
<!--          <file-input v-model="formCreate.photo" :error="formCreate.errors.photo" class="pb-8 pr-6 w-full lg:w-1/2" type="file" accept="image/*" label="Photo" />-->
        </div>
        <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
          <loading-button :loading="formCreate.processing" class="btn-indigo" type="submit">Create User</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'

export default {
  components: {
    // FileInput,
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
  },
  layout: Layout,
  remember: 'form',

  props: {
    errors: [Object, Array],
    roles: [Object, Array],
    positions: [Object, Array],
  },

  data() {
    return {
      formCreate: this.$inertia.form({
        first_name: '',
        last_name: '',
        email: '',
        password: '',
        password_confirmation: '',
        role: null,
        position: null,
      }),
    }
  },

  mounted() {

  },
  methods: {
    async store() {
      await this.$inertia.post(this.route('users.store'), this.formCreate)
    },
  },
}
</script>
