<template>
  <div>
    <Head :title="`${user.data.full_name}`" />
    <div class="flex justify-start mb-8 max-w-3xl">
      <h1 class="text-3xl font-bold">
        <Link class="text-indigo-400 hover:text-indigo-600" href="/users">Users</Link>
        <span class="text-indigo-400 font-medium">/</span>
        {{ user.data.full_name }}
      </h1>
<!--      <img v-if="user.photo" class="block ml-4 w-8 h-8 rounded-full" :src="user.photo" />-->
    </div>
    <trashed-message v-if="can('full-access') && user.data.deleted_at" class="mb-6" @restore="restore"> This user has been deleted. </trashed-message>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="update">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <text-input v-model="form.first_name" :error="errors.first_name" class="pb-8 pr-6 w-full lg:w-1/2" label="First name" />
          <text-input v-model="form.last_name" :error="errors.last_name" class="pb-8 pr-6 w-full lg:w-1/2" label="Last name" />
          <text-input v-model="form.email" :error="errors.email" class="pb-8 pr-6 w-full lg:w-1/2" label="Email" readonly/>
          <select-input v-if="can('full-access')" v-model="form.role" :error="errors.role" class="pb-8 pr-6 w-full lg:w-1/2" label="Role">
            <option v-for="role in roles.data" :key="role.id" :value="role.name">{{ role.name }}</option>
          </select-input>
          <select-input v-if="can('full-access')" v-model="form.position" :error="errors.position" class="pb-8 pr-6 w-full lg:w-1/2" label="Position">
            <option v-for="position in positions.data" :key="position.id" :value="position.id">{{ position.name }}</option>
          </select-input>
          <text-input v-if="isAbleToChangePassword" v-model="form.password_old" :error="errors.password_old" class="pb-8 pr-6 w-full lg:w-1/2" type="password" autocomplete="old-password" label="Old Password" />
          <text-input v-if="isAbleToChangePassword" v-model="form.password" :error="errors.password" class="pb-8 pr-6 w-full lg:w-1/2" type="password" autocomplete="new-password" label="New Password" />
          <text-input v-if="isAbleToChangePassword" v-model="form.password_confirmation" :error="errors.password" class="pb-8 pr-6 w-full lg:w-1/2" type="password" autocomplete="new-password" label="Confirmation Password" />
<!--          <file-input v-model="form.photo" :error="errors.photo" class="pb-8 pr-6 w-full lg:w-1/2" type="file" accept="image/*" label="Photo" />-->
        </div>
        <div :class="user.data.deleted_at ? 'justify-end flex items-center px-8 py-4 bg-gray-100 border-t border-gray-200 w-full' : 'justify-between flex items-center px-8 py-4 bg-gray-100 border-t border-gray-200 w-full'">
          <button v-if="can('delete-user') && !user.data.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Delete User</button>
          <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Update User</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'
import TrashedMessage from '@/Shared/TrashedMessage'

export default {
  components: {
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
    TrashedMessage,
  },
  layout: Layout,
  props: {
    user: [Object, Array],
    errors: [Object, Array],
    roles: [Object, Array],
    positions: [Object, Array],
    isAbleToChangePassword: Boolean,
  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        _method: 'put',
        first_name: this.user.data.first_name,
        last_name: this.user.data.last_name,
        email: this.user.data.email,
        owner: this.user.data.owner,
        password_old: '',
        password: '',
        password_confirmation: '',
        position: this.user.data.position ? this.user.data.position.id : null,
        role: this.user.data.roles[0].name,
        photo: null,
      }),
      pageTitle: this.user.data.full_name,
    }
  },
  methods: {
    async update() {
      await this.$inertia.put(this.route('users.update', this.user.data.id), this.form)
    },
    async destroy() {
      if (confirm('Are you sure you want to delete this user?')) {
        await this.$inertia.delete(this.route('users.destroy', this.user.data.id))
      }
    },
    async restore() {
      if (confirm('Are you sure you want to restore this user?')) {
        await this.$inertia.put(this.route('users.restore', this.user.data.id))
      }
    },
  },
}
</script>
