<template>
  <div>
    <Head title="Users" />
    <h1 class="mb-8 text-3xl font-bold">Users</h1>
    <div class="flex items-center justify-between mb-6">
      <search-filter v-model="formFilter.search" class="mr-4 w-full max-w-md" @reset="reset">
        <label class="block mt-4 text-gray-700">Trashed:</label>
        <select v-model="formFilter.trashed" class="form-select mt-1 w-full">
          <option :value="null" />
          <option value="with">With Trashed</option>
          <option value="only">Only Trashed</option>
        </select>
      </search-filter>
      <Link v-if="can('create-user')" class="btn-indigo" :href="route('users.create')">
        <span>Create</span>
        <span class="hidden md:inline">&nbsp;User</span>
      </Link>
    </div>
    <div class="bg-white rounded-md shadow overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tr class="text-left font-bold">
          <th class="pb-4 pt-6 px-6">Name</th>
          <th class="pb-4 pt-6 px-6">Email</th>
          <th class="pb-4 pt-6 px-6">Position</th>
          <th class="pb-4 pt-6 px-6" colspan="2">Role</th>
        </tr>
        <tr v-for="user in users.data" :key="user.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
          <td class="border-t">
<!--              <img v-if="user.photo" class="block -my-2 mr-2 w-5 h-5 rounded-full" :src="user.photo" />-->
            <span class="flex items-center px-6 py-4">
              {{ user.full_name }}
            </span>
            <icon v-if="user.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" />
          </td>
          <td class="border-t">
            <span class="flex items-center px-6 py-4">
              {{ user.email }}
            </span>
          </td>
          <td class="border-t">
            <span class="flex items-center px-6 py-4">
              {{ user.position ? user.position.name : '-' }}
            </span>
          </td>
          <td class="border-t">
            <span
              v-if="user.roles_by_name.length > 0"
              class="flex flex-wrap items-center px-5 py-4"
            >
              <span
                v-for="(role, index) in user.roles_by_name"
                :key="index"
                class="justify-center px-2 py-1 mb-1 ml-1 text-xs font-bold text-white bg-green-400 rounded-full"
              >
                {{ role }}
              </span>
            </span>
          </td>
          <td class="w-px border-t">
            <Link class="flex items-center px-4" :href="route('users.edit', user.id)" tabindex="-1">
              <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
            </Link>
          </td>
        </tr>
        <tr v-if="users.data.length === 0">
          <td class="px-6 py-4 border-t" colspan="4">No users found.</td>
        </tr>
      </table>
    </div>

    <pagination
      v-if="users.data.length > 0"
      class="mt-6"
      :links="users.meta.links"
    />
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Icon from '@/Shared/Icon'
import pickBy from 'lodash/pickBy'
import Layout from '@/Shared/Layout'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'
import SearchFilter from '@/Shared/SearchFilter'
import Pagination from "@/Shared/Pagination.vue";

export default {
  components: {
    Pagination,
    Head,
    Icon,
    Link,
    SearchFilter,
  },
  layout: Layout,
  props: {
    filters: Object,
    users: Array,
  },
  data() {
    return {
      formFilter: {
        search: this.filters.search,
        role: this.filters.role,
        trashed: this.filters.trashed,
      },
    }
  },
  watch: {
    formFilter: {
      deep: true,
      handler: throttle(function () {
        let query = pickBy(this.formFilter)
        this.$inertia.replace(this.route('users.index', Object.keys(query).length ? query : { remember: 'forget' }))
      }, 150),
    },
  },
  methods: {
    reset() {
      this.formFilter = mapValues(this.formFilter, () => null)
    },
  },
}
</script>
