<template>
  <Head title="Detail Operational" />
  <div>
    <div class="flex justify-start max-w-3xl mb-8">
      <h1 class="text-3xl font-bold">
        <Link
          class="text-indigo-400 hover:text-indigo-600"
          :href="route('operational-logs.index')"
        >
          Back
        </Link>
        <span class="font-medium text-indigo-400">/</span>
        Detail Operational Log
      </h1>
    </div>

    <TrashedMessage
      v-if="oplog.data.deleted_at && can('restore-operational-logs')"
      class="mb-6"
      @restore="restore"
    >
      This operational log has been deleted.
    </TrashedMessage>

    <div class="max-w-full overflow-hidden bg-white rounded shadow">
      <div class="flex flex-wrap mt-4 mr-6 px-8 justify-between">
        <div
          class="px-3 py-3 mt-3 text-md font-bold text-white bg-indigo-600 hover:bg-orange-400 rounded-md"
        >
          {{ oplog.data.log_date_with_day }} {{ oplog.data.shift_name_with_time }}
        </div>
        <a v-if="can('export-operational-logs') && oplog.data.ready_to_export" target="_blank" :href="route('operational-logs.export-to-pdf', oplog.data.id)">
          <button

            type="button"
            class="px-5 py-3 mt-3 text-md font-bold text-white bg-green-500 hover:bg-orange-400 rounded-md"
          >
            <span>
              <icon name="download-filled" class="fill-white font-bold" />
            </span>
          </button>
        </a>
      </div>
      <div class="flex flex-wrap mb-2 mr-6 px-8 py-5">
        <table class="shadow-md rounded-xl border-separate border-solid border-4 border-indigo-600 w-full text-sm text-left">
          <thead class="text-xs text-gray-700 uppercase bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="w-1/4 px-6 py-3">
                Key
              </th>
              <th scope="col" class="w-3/4 px-6 py-3">
                Value
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Identifier Number
              </td>
              <td class="px-6 py-4">
                {{ oplog.data.id }}
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Log Date
              </td>
              <td class="px-6 py-4">
                {{ oplog.data.log_date }}
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Log Shift
              </td>
              <td class="px-6 py-4">
                {{ oplog.data.shift_name_with_time }}
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Time Created
              </td>
              <td class="px-6 py-4">
                {{ oplog.data.created_at }}
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Created By
              </td>
              <td class="px-6 py-4">
                {{ oplog.data.created_by ? oplog.data.created_by.first_name + ' ' + oplog.data.created_by.last_name : '-' }}
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Last Updated
              </td>
              <td class="px-6 py-4">
                {{ oplog.data.updated_at }}
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Last Updated By
              </td>
              <td class="px-6 py-4">
                {{ oplog.data.updated_by ? oplog.data.updated_by.first_name + ' ' + oplog.data.updated_by.last_name : '-' }}
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Status
              </td>
              <td class="px-6 py-4 text-red-500">
                <span
                  v-if="oplog.data.status == 'IN_PROGRESS'"
                  class="justify-center px-2 py-1 text-xs font-bold text-white bg-indigo-600 rounded-full"
                >
                  {{ oplog.data.status }}
                </span>
                <span
                  v-if="oplog.data.status == 'APPROVED'"
                  class="justify-center px-2 py-1 text-xs font-bold text-white bg-green-500 rounded-full"
                >
                  {{ oplog.data.status }}
                </span>
                <span
                  v-if="oplog.data.status == 'NEED_APPROVAL'"
                  class="justify-center px-2 py-1 text-xs font-bold text-white bg-yellow-500 rounded-full"
                >
                  {{ oplog.data.status }}
                </span>
                <span
                  v-if="oplog.data.status == 'REJECTED'"
                  class="justify-center px-2 py-1 text-xs font-bold text-white bg-red-500 rounded-full"
                >
                  {{ oplog.data.status }}
                </span>
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" style="vertical-align: top;">
                Review Histories
              </td>
              <td class="px-6 py-4">
                <div v-if="oplog.data.review_histories.data.length" class="relative overflow-x-auto shadow-sm hover:shadow-lg sm:rounded-lg">
                  <table class="border-separate border-solid border-2 rounded-lg border-gray-400 w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                      <tr>
                        <th scope="col" class="px-6 py-3">
                          Reviewed At
                        </th>
                        <th scope="col" class="px-6 py-3">
                          Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                          Reviewed By
                        </th>
                        <th scope="col" class="px-6 py-3">
                          Reviewer Notes
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="reviewHistory in oplog.data.review_histories.data" :key="reviewHistory.id" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          {{ reviewHistory.reviewed_at }}
                        </th>
                        <td class="px-6 py-4">
                          <span
                            v-if="reviewHistory.status == 'APPROVED'"
                            class="justify-center px-2 py-1 text-xs font-bold text-white bg-green-500 rounded-full"
                          >
                            {{ reviewHistory.status }}
                          </span>
                          <span
                            v-if="reviewHistory.status == 'REJECTED'"
                            class="justify-center px-2 py-1 text-xs font-bold text-white bg-red-500 rounded-full"
                          >
                            {{ reviewHistory.status }}
                          </span>
                        </td>
                        <td class="px-6 py-4">
                          {{ reviewHistory.reviewed_by.first_name + ' ' + reviewHistory.reviewed_by.last_name }}
                        </td>
                        <td class="px-6 py-4">
                          {{ reviewHistory.reviewer_notes }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div v-else>No Data</div>
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" style="vertical-align: top;">
                Facilities
              </td>
              <td class="px-6 py-4">
                <div v-if="oplog.data.facilities.length" class="relative overflow-x-auto shadow-sm hover:shadow-lg sm:rounded-lg">
                  <table class="border-separate border-solid border-2 rounded-lg border-gray-400 w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                      <tr>
                        <th scope="col" class="px-6 py-3">
                          Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                          Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                          Description
                        </th>
                        <th scope="col" class="px-6 py-3">
                          Last Updated By
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="facility in oplog.data.facilities" :key="facility.id" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          {{ facility.name }}
                        </th>
                        <td class="px-6 py-4">
                          <span
                            v-if="facility.status === 'FUNCTIONAL'"
                            class="justify-center px-2 py-1 text-xs font-bold text-white bg-green-500 rounded-full"
                          >
                            Functional
                          </span>
                          <span
                            v-if="facility.status === 'FUNCTIONAL_WMI'"
                            class="justify-center px-2 py-1 text-xs font-bold text-white bg-yellow-500 rounded-full"
                          >
                            Functional With Minor Issues
                          </span>
                          <span
                            v-if="facility.status === 'NON_FUNCTIONAL'"
                            class="justify-center px-2 py-1 text-xs font-bold text-white bg-red-500 rounded-full"
                          >
                            Non Functional
                          </span>
                          <span
                            v-if="facility.status === 'UNDER_REPAIR'"
                            class="justify-center px-2 py-1 text-xs font-bold text-white bg-indigo-600 rounded-full"
                          >
                            Under Repairment
                          </span>
                        </td>
                        <td class="px-6 py-4">
                          {{ facility.description ?? '-' }}
                        </td>
                        <td class="px-6 py-4">
                          {{ facility.updated_by.first_name + ' ' + facility.updated_by.last_name }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div v-else>No Data</div>
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" style="vertical-align: top;">
                Personnel On Duty
              </td>
              <td class="px-6 py-4">
                <div v-if="oplog.data.personnel_logs.data.length" class="relative overflow-x-auto shadow-sm hover:shadow-lg sm:rounded-lg">
                  <table class="border-separate border-solid border-2 rounded-lg border-gray-400 w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                      <tr>
                        <th scope="col" class="px-6 py-3">
                          Personnel Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                          Clock In Time
                        </th>
                        <th scope="col" class="px-6 py-3">
                          Sign
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="personnel in oplog.data.personnel_logs.data" :key="personnel.id" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          {{ personnel.name }}
                        </th>
                        <td class="px-6 py-4">
                          {{ personnel.time }}
                        </td>
                        <td class="px-6 py-4">
                          {{ personnel.sign ? '&#x2713' : '' }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div v-else>No Data</div>
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" style="vertical-align: top;">
                Event Logs
              </td>
              <td class="px-6 py-4">
                <div v-if="oplog.data.event_logs.data.length" class="relative overflow-x-auto shadow-sm hover:shadow-lg sm:rounded-lg">
                  <table class="border-separate border-solid border-2 rounded-lg border-gray-400 w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                      <tr>
                        <th scope="col" class="px-6 py-3">
                          Time
                        </th>
                        <th scope="col" class="px-6 py-3">
                          Specification
                        </th>
                        <th scope="col" class="px-6 py-3">
                          Created By
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="event in oplog.data.event_logs.data" :key="event.id" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          {{ event.time }}
                        </th>
                        <td class="px-6 py-4">
                          {{ event.specification }}
                        </td>
                        <td class="px-6 py-4">
                          {{ event.created_by.id === 'SYSTEM' ? event.created_by.id : event.created_by.first_name + ' ' + event.created_by.last_name }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div v-else>No Data</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="justify-between flex items-center px-8 py-4 bg-gray-100 border-t border-gray-200 w-full">
        <div v-if="!oplog.data.deleted_at && can('delete-operational-logs') && oplog.data.is_updatable">
          <button
            class="text-red-600 hover:underline"
            tabindex="-1"
            type="button"
            @click="destroy"
          >
            Delete Log
          </button>
        </div>
        <div v-if="(can('approve-operational-logs') || can('reject-operational-logs')) && oplog.data.is_reviewable" class="flex items-center py-4">
          <button
            class="btn-indigo mr-2"
            @click="showModal(true, 'approve', oplog)"
          >

            <span>
              <icon name="check-mark" />
            </span>
          </button>
          <button
            class="btn-red"
            @click="showModal(true, 'reject', oplog)"
          >
            <span>
              <icon name="cross" />
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div v-if="modal.isShowed && oplog.data.is_updatable" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex flex-wrap items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true" />
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
      <div v-if="modal.currentState === 'approve'" class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-auto">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="w-full mt-2">
            <form @submit.prevent="submitReview">
              <h3 id="modal-title" class="text-xl leading-6 font-semibold text-gray-900 mb-2">
                Approve Log
              </h3>
              <text-input v-model="formReview.reviewer_notes" :error="errors.reviewer_notes" type="text" class="pb-2 w-full" label="Reviewer Notes" />
              <label class="form-label" for="signature-pad">Signature(*):</label>
              <div v-if="approvalValidation.noReviewSignatureError" class="form-error">Please fill in your signature for approval</div>
              <div class="border border-4 border-separate border-dashed border-indigo-600 rounded-xl">
                <VueSignaturePad
                  id="signature-pad"
                  ref="signaturePad" :options="{ onEnd }" width="500px" height="300px"
                />
              </div>
              <div>
                <button type="button" class="btn-warning mt-2" @click="undo">
                  <icon name="undo" class="block w-4 h-4 fill-white" />
                </button>
              </div>
              <div class="form-error">*Please ensure to review the document thoroughly as it cannot be modified once it has been approved</div>
              <div class="flex items-center py-2 w-full justify-end mr-0 mt-2">
                <button
                  type="button"
                  class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                  @click="showModal(false, null)"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-orange-400 focus:bg-orange-400 focus:outline-none focus:ring-2 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div v-if="modal.currentState === 'reject'" class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-auto">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start justify-center">
            <div class="mt-3 text-center sm:mt-0 sm:text-left">
              <h3 id="modal-title" class="text-xl leading-6 font-semibold text-gray-900 mb-2">
                Reject Log
              </h3>
              <div class="w-full mt-2">
                <form @submit.prevent="submitReview">
                  <text-input v-model="formReview.reviewer_notes" :error="errors.reviewer_notes" type="text" class="pb-8 pr-6 w-full" label="Reviewer Notes" />
                  <div class="flex items-center py-2 w-full justify-end mr-0">
                    <div>
                      <button
                        type="button"
                        class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                        @click="showModal(false, null)"
                      >
                        Cancel
                      </button>
                      <button
                        type="submit"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import { Link, Head } from '@inertiajs/inertia-vue3'
import TextInput from '@/Shared/TextInput.vue'
import TrashedMessage from '@/Shared/TrashedMessage.vue'
import Icon from '@/Shared/Icon.vue'
import { VueSignaturePad } from 'vue-signature-pad'

export default {
  name: 'Create',

  components: {
    Icon,
    TrashedMessage,
    TextInput,
    Link,
    Head,
    VueSignaturePad,
  },

  layout: Layout,

  props: {
    errors: Object,
    logShifts: [Object, Array],
    oplog: [Object, Array],
  },

  remember: 'formCreateOperationalLog',

  data() {
    return {
      formReview: {
        reviewer_notes: '',
        status: '',
        reviewer_signature: '',
      },
      approvalValidation: {
        noReviewSignatureError: false,
      },
      modal: {
        isShowed: false,
        currentState: '',
      },
    }
  },
  created() {
    console.log(this.oplog)
  },
  methods: {
    showModal(showModal, modalState) {
      if (!showModal) this.formReview.reviewer_notes = ''
      this.modal.isShowed = showModal
      this.modal.currentState = modalState
    },
    async submitReview() {
      let formReviewRequest = {
        reviewer_notes: this.formReview.reviewer_notes,
        status: this.modal.currentState,
        reviewer_signature: this.formReview.reviewer_signature,
      }
      if (this.validateApprovalReview(formReviewRequest)) {
        this.showModal(false, null)
        await this.$inertia.put(this.route('operational-logs.review', this.oplog.data.id), formReviewRequest)
      }
    },
    validateApprovalReview(formReviewRequest) {
      if (!formReviewRequest.reviewer_signature && formReviewRequest.status === 'approve') {
        this.approvalValidation.noReviewSignatureError = true
        return false
      }

      return true
    },
    undo() {
      this.$refs.signaturePad.undoSignature()
      this.onEnd()
    },
    onEnd() {
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature()
      if (!isEmpty) this.formReview.reviewer_signature = data
      else this.formReview.reviewer_signature = ''
    },
    async destroy() {
      if (confirm('Are you sure you want to delete this operational log?')) {
        await this.$inertia.delete(this.route('operational-logs.destroy', this.oplog.data.id))
      }
    },
  },
}
</script>
