<template>
  <div>
    <Head title="Operational Logs" />
    <h1 class="mb-8 text-3xl font-bold">Operational Logs</h1>
    <div class="flex items-center justify-between mb-6">
      <search-filter v-model="formFilter.search" class="mr-4 w-full max-w-md" @reset="reset">
        <label class="block mt-4 text-gray-700">Log shift:</label>
        <select v-model="formFilter.work_shift" class="form-select mt-1 w-full">
          <option :value="null" />
          <option v-for="logShift in workShifts.data" :key="logShift.id" :value="logShift.name">{{ logShift.name }}</option>
        </select>
        <label class="block mt-4 text-gray-700">Status:</label>
        <select v-model="formFilter.status" class="form-select mt-1 w-full">
          <option :value="null" />
          <option value="IN_PROGRESS">IN PROGRESS</option>
          <option value="NEED_APPROVAL">NEED APPROVAL</option>
          <option value="APPROVED">APPROVED</option>
          <option value="REJECTED">REJECTED</option>
        </select>
        <label for="role" class="block mt-4 text-gray-700">Period Start:</label>
        <TextInput
          v-model="formFilter.periodStart"
          class="mt-1 mb-5 w-full"
          type="date"
        />

        <label for="role" class="block mt-4 text-gray-700">Period End:</label>
        <TextInput
          v-model="formFilter.periodEnd"
          class="mt-1 mb-5 w-full"
          type="date"
        />
        <label class="block mt-4 text-gray-700">Trashed:</label>
        <select v-model="formFilter.trashed" class="form-select mt-1 w-full">
          <option :value="null" />
          <option value="with">With Trashed</option>
          <option value="only">Only Trashed</option>
        </select>
      </search-filter>
      <Link v-if="can('create-operational-logs') && isShowCreateButton" class="btn-indigo" :href="route('operational-logs.create')">
        <span>Create</span>
        <span class="hidden md:inline">&nbsp;Operational Log</span>
      </Link>
    </div>
    <div class="bg-white rounded-md shadow overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tr class="text-left font-bold">
          <th class="pb-4 pt-6 px-6">Log Date</th>
          <th class="pb-4 pt-6 px-6">Log Shift</th>
          <th class="pb-4 pt-6 px-6">Review Status</th>
          <th class="pb-4 pt-6 px-6">Created By</th>
          <th class="pb-4 pt-6 px-6">Created At</th>
          <th class="pb-4 pt-6 px-6">Ready To Review</th>
          <th class="pb-4 pt-6 px-6">Details</th>
        </tr>
        <tr v-for="operationalLog in operationalLogs.data" :key="operationalLog.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
          <td class="border-t">
            <span class="flex items-center px-6 py-4">
              {{ operationalLog.log_date_with_day }}
            </span>
            <icon v-if="operationalLog.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" />
          </td>
          <td class="border-t">
            <span class="flex items-center px-6 py-4">
              {{ operationalLog.shift_name_with_time }}
            </span>
          </td>
          <td class="border-t">
            <span
              class="flex flex-wrap items-center px-5 py-4"
            >
              <span
                v-if="operationalLog.review_status == 'IN_PROGRESS'"
                class="justify-center px-2 py-1 mb-1 ml-1 text-xs font-bold text-white bg-indigo-600 rounded-full"
              >
                {{ operationalLog.review_status }}
              </span>
              <span
                v-if="operationalLog.review_status == 'APPROVED'"
                class="justify-center px-2 py-1 mb-1 ml-1 text-xs font-bold text-white bg-green-500 rounded-full"
              >
                {{ operationalLog.review_status }}
              </span>
              <span
                v-if="operationalLog.review_status == 'NEED_APPROVAL'"
                class="justify-center px-2 py-1 mb-1 ml-1 text-xs font-bold text-white bg-yellow-500 rounded-full"
              >
                {{ operationalLog.review_status }}
              </span>
              <span
                v-if="operationalLog.review_status == 'REJECTED'"
                class="justify-center px-2 py-1 mb-1 ml-1 text-xs font-bold text-white bg-red-500 rounded-full"
              >
                {{ operationalLog.review_status }}
              </span>
            </span>
          </td>
          <td class="border-t">
            <span class="flex items-center px-6 py-4">
              {{ operationalLog.created_by ? operationalLog.created_by.first_name + ' ' + operationalLog.created_by.last_name : '-' }}
            </span>
          </td>
          <td class="border-t">
            <span class="flex items-center px-6 py-4">
              {{ operationalLog.created_at }}
            </span>
          </td>
          <td class="border-t">
            <span class="flex items-center px-6 py-4">
              <label v-if="operationalLog.is_updatable && !operationalLog.deleted_at" :id="'toggle-ready-review-' + operationalLog.id" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                  <!-- input -->
                  <input
                    :id="'toggle-ready-review-' + operationalLog.id"
                    :checked="operationalLog.ready_to_review"
                    type="checkbox" class="sr-only" @change.prevent="readyToReview(operationalLog)"
                  />
                  <!-- line -->
                  <div class="w-14 h-8 bg-gray-300 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600" />
                  <!-- dot -->
                  <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition" />
                </div>
              </label>
              <label v-else :id="'toggle-ready-review-' + operationalLog.id" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative cursor-default">
                  <!-- input -->
                  <input
                    :id="'toggle-ready-review-' + operationalLog.id"
                    type="checkbox" class="sr-only" disabled
                  />
                  <!-- line -->
                  <div class="w-14 h-8 bg-gray-200 bg-opacity-50 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600" />
                  <!-- dot -->
                  <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition" />
                </div>
              </label>
            </span>
          </td>
          <td class="w-px border-t">
            <span class="flex items-center px-6 py-4">
              <Link v-if="can('show-operational-logs')" class="btn-indigo" :href="route('operational-logs.show', operationalLog.id)">
                <span>
                  <icon name="magnifier" />
                </span>
              </Link>
            </span>
          </td>
        </tr>
        <tr v-if="operationalLogs.data.length === 0">
          <td class="px-6 py-4 border-t" colspan="999">No operational logs found.</td>
        </tr>
      </table>
    </div>

    <pagination
      v-if="operationalLogs.data.length > 0"
      class="mt-6"
      :links="operationalLogs.meta.links"
    />
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/inertia-vue3'
import Icon from '@/Shared/Icon'
import pickBy from 'lodash/pickBy'
import Layout from '@/Shared/Layout'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'
import SearchFilter from '@/Shared/SearchFilter'
import Pagination from '@/Shared/Pagination.vue'
import TextInput from '@/Shared/TextInput.vue'

export default {
  components: {
    TextInput,
    Pagination,
    Head,
    Icon,
    Link,
    SearchFilter,
  },
  layout: Layout,
  props: {
    filters: Object,
    operationalLogs: Array,
    workShifts: [Object, Array],
    isShowCreateButton: Boolean,
  },
  data() {
    return {
      formFilter: {
        search: this.filters.search,
        trashed: this.filters.trashed,
        work_shift: this.filters.work_shift,
        periodStart: this.filters.periodStart,
        periodEnd: this.filters.periodEnd,
        status: this.filters.status,
      },
    }
  },
  watch: {
    formFilter: {
      deep: true,
      handler: throttle(function () {
        let query = pickBy(this.formFilter)
        this.$inertia.replace(this.route('operational-logs.index', Object.keys(query).length ? query : { remember: 'forget' }))
      }, 150),
    },
  },
  methods: {
    reset() {
      this.formFilter = mapValues(this.formFilter, () => null)
    },
    async readyToReview(operationalLog) {
      await this.$inertia.get(this.route('operational-logs.ready-to-review', operationalLog.id))
    },
  },
}
</script>
<style scoped>
/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: rgb(79 70 229);
}
</style>
