<template>
  <Head title="Create Event Log" />
  <div>
    <div class="flex justify-start max-w-3xl mb-8">
      <h1 class="text-3xl font-bold">
        <Link
          class="text-indigo-400 hover:text-indigo-600"
          :href="route('event-logs.index')"
        >
          Back
        </Link>
        <span class="font-medium text-indigo-400">/</span>
        Add Event Log
      </h1>
    </div>

    <div v-if="!operationalLog.data.is_updatable" class="flex items-center justify-between mb-5 max-w-3xl bg-yellow-400 rounded">
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="flex-shrink-0 ml-4 mr-2 w-4 h-4 fill-black bi bi-exclamation-triangle" viewBox="0 0 16 16">
          <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
          <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
        </svg>
        <div class="pb-4 pt-5 px-1 text-black text-sm font-medium">
          No more changes are allowed for this log.
        </div>
      </div>
    </div>

    <div class="max-w-3xl overflow-hidden bg-white rounded shadow">
      <form @submit.prevent="submit">
        <div class="flex flex-wrap -mb-20 -mr-6 px-8 pb-8 pt-4">
          <h4 class="my-3 text-xl font-bold">Log Shift</h4>
        </div>
        <div class="flex flex-wrap -mb-10 -mr-6 p-8">
          <span
            class="px-3 py-2 mt-3 text-md font-bold text-white bg-green-500 hover:bg-green-500 rounded-md"
          >
            {{ operationalLog.data.log_date_with_day }} {{ operationalLog.data.shift_name_with_time }}
          </span>
        </div>
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 p-8">
          <div v-for="(form, index) in formEdit.event_logs" :key="form" class="border border-solid px-5 py-5 rounded-lg bg-white shadow">
            <div class="mb-5 w-full">
              <button
                v-if="form.is_updatable && operationalLog.data.is_updatable"
                class="bg-gray-50 hover:bg-gray-100 text-red-500 border-dashed border-4 border-red-500 font-bold px-2 pt-2 pb-1"
                type="button" @click="eliminateFormLog(form.index)"
              >
                &#x2715;
              </button>
              <button
                v-else
                class="bg-gray-50 cursor-not-allowed text-gray-300 border-dashed border-4 border-gray-300 font-bold px-2 pt-2 pb-1"
                type="button"
              >
                &#x2715;
              </button>
            </div>
            <text-input v-model="form.time" :readonly="!(form.is_updatable && operationalLog.data.is_updatable)" :error="errors[`event_logs.${index}.time`]" type="time" class="w-full mb-4" :label="`Event Log Time ${index + 1}`" />
            <text-input v-model="form.specification" :readonly="!(form.is_updatable && operationalLog.data.is_updatable)" :error="errors[`event_logs.${index}.specification`]" type="text" class="w-full" :label="`Event Log Specification ${index + 1}`" />
            <div class="mt-5 w-full">
              <span v-if="form.updated_by" class="w-full mt-5 text-green-600 text-xs">Last update by {{ form.updated_by.first_name + ' ' + form.updated_by.last_name }} at {{ form.updated_at }}</span>
            </div>
          </div>
          <div
            class="bg-white hover:bg-gray-500 border-dashed border-4 border-light-blue-500 px-5 py-5 rounded-lg mb-5 text-center cursor-pointer"
            style="display: flex; align-items: center; justify-content: center;"
            @click="addMoreFormEventLog"
            v-if="(operationalLog.data.is_updatable)"
          >
            <button class="text-black text-4xl font-bold py-4 mb-4 mr-6 align-top" type="button">
              +
            </button>
          </div>
        </div>
        <!--          <file-input v-model="formEdit.photo" :error="formEdit.errors.photo" class="pb-8 pr-6 w-full lg:w-1/2" type="file" accept="image/*" label="Photo" />-->
        <div class="flex items-center px-8 py-4 bg-gray-100 border-t border-gray-200 w-full justify-end">
          <button
            :disabled="!operationalLog.data.is_updatable"
            :class="'bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-4 rounded' + (!operationalLog.data.is_updatable ? ' opacity-50 cursor-not-allowed' : '')"
            type="submit"
          >
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import { Link, Head } from '@inertiajs/inertia-vue3'
import TextInput from '@/Shared/TextInput.vue'

export default {
  name: 'Create',

  components: {
    TextInput,
    Link,
    Head,
  },

  layout: Layout,

  props: {
    errors: Object,
    operationalLog: Object,
  },

  remember: 'formEditEventLog',

  data() {
    return {
      formEdit: {
        event_logs: [
          {
            index: 0,
            id: null,
            time: null,
            specification: null,
            updated_by: null,
            updated_at: null,
            is_updatable: true,
          },
        ],
        operational_log: this.operationalLog.data.id,
      },
    }
  },

  created() {
    if (this.operationalLog.data.event_logs.data.length) {
      this.formEdit = {
        operational_log: this.operationalLog.data.id,
        event_logs: [],
      }
      this.operationalLog.data.event_logs.data.forEach((eventLog, index) => {
        this.formEdit.event_logs.push({
          index,
          id: eventLog.id,
          time: eventLog.time,
          specification:eventLog.specification,
          updated_by: eventLog.updated_by,
          updated_at: eventLog.updated_at,
          is_updatable: eventLog.is_updatable,
        })
      })
    }
  },

  methods: {
    async submit() {
      await this.$inertia.put(this.route('event-logs.update', this.operationalLog.data.id), this.formEdit)
    },
    addMoreFormEventLog() {
      const currentCount = this.formEdit.event_logs.length
      this.formEdit.event_logs.push({
        index: currentCount,
        id: null,
        time: null,
        specification: null,
        updated_by: null,
        updated_at: null,
        is_updatable: true,
      })
    },
    eliminateFormLog(index) {
      if (this.formEdit.event_logs.length > 1) {
        this.formEdit.event_logs.splice(index, 1)
      }
    },
  },
}
</script>
