<template>
  <div>
    <Head title="Dashboard" />
    <h1 class="mb-4 text-3xl font-bold">Dashboard</h1>
    <h3 class="font-semibold mb-4 text-gray-400 leading-normal">
      ATS Operational Log Book - Perum LPPNPI Kantor Cabang Pembantu Lampung
    </h3>

    <div class="bg-white shadow rounded p-5">
      <div class="m-5 grid grid-cols-1 gap-6">
        <div class="text-center p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Operational Logs</h5>
          <p class="font-bold text-4xl">{{ oplogCountAllTime }}</p>
        </div>
      </div>
      <div class="m-5 grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-6">
        <Link
          :href="route('operational-logs.index', { _query: {status: 'APPROVED'} })"
        >
          <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Approved</h5>
            <p class="font-bold text-4xl">{{ oplogCountApprovedAllTime }}</p>
          </div>
        </Link>
        <Link
          :href="route('operational-logs.index', { _query: {status: 'REJECTED'} })"
        >
          <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Rejected</h5>
            <p class="font-bold text-4xl">{{ oplogCountRejectedAllTime }}</p>
          </div>
        </Link>
        <Link
          :href="route('operational-logs.index', { _query: {status: 'NEED_APPROVAL'} })"
        >
          <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Need Review</h5>
            <p class="font-bold text-4xl">{{ oplogCountNeedApprovalAllTime }}</p>
          </div>
        </Link>
        <Link
          :href="route('operational-logs.index', { _query: {status: 'IN_PROGRESS'} })"
        >
          <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">In Progress</h5>
            <p class="font-bold text-4xl">{{ oplogCountInProgressAllTime }}</p>
          </div>
        </Link>
      </div>
      <div v-if="can('view-user-count-dashboard')" class="m-5 grid grid-cols-1 gap-6">
        <div class="p-6 text-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Users</h5>
          <p class="font-bold text-4xl">{{ userCount }}</p>
        </div>
      </div>
      <div v-if="can('view-user-count-dashboard')" :class="`m-5 grid lg:grid-cols-${positions.length} md:grid-cols-2 grid-cols-1 gap-6`">
        <div v-for="position in positions" :key="position.id" class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">{{ position.name }}</h5>
          <p class="font-bold text-4xl">{{ position.usersCount }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'

export default {
  components: {
    Link,
    Head,
  },
  layout: Layout,
  props: {
    oplogCountAllTime: [Number],
    oplogCountApprovedAllTime: [Number],
    oplogCountRejectedAllTime: [Number],
    oplogCountNeedApprovalAllTime: [Number],
    userCount: [Number],
    positions: [Number],
    oplogCountInProgressAllTime: [Number],
  },
  data() {
    return {
    }
  },
  methods: {},
}
</script>
