<template>
  <Head title="Edit Facility" />
  <div>
    <div class="flex justify-start max-w-3xl mb-8">
      <h1 class="text-3xl font-bold">
        <Link
          class="text-indigo-400 hover:text-indigo-600"
          :href="route('facilities.index')"
        >
          Back
        </Link>
        <span class="font-medium text-indigo-400">/</span>
        Edit Facility
      </h1>
    </div>

    <TrashedMessage
      v-if="facility.data.deleted_at && can('restore-facility')"
      class="mb-6"
      @restore="restore"
    >
      This facility has been deleted.
    </TrashedMessage>

    <div class="max-w-3xl overflow-hidden bg-white rounded shadow">
      <form @submit.prevent="submit">
        <div class="flex flex-col flex-wrap p-5">
          <label class="font-bold mb-2" for="name">Name</label>
          <input
            id="name"
            v-model.lazy="formEdit.name"
            class="w-1/2 p-2 border border-gray-500 rounded"
            name="name"
            placeholder="TX Radio"
            type="text"
          />
          <small v-if="errors.name" class="text-red-500 mt-2">{{ errors.name }}</small>
        </div>
        <div :class="facility.data.deleted_at ? 'justify-end flex items-center px-8 py-4 bg-gray-100 border-t border-gray-200 w-full' : 'justify-between flex items-center px-8 py-4 bg-gray-100 border-t border-gray-200 w-full'">
          <button
            v-if="!facility.data.deleted_at && can('delete-facility')"
            class="text-red-600 hover:underline"
            tabindex="-1"
            type="button"
            @click="destroy"
          >
            Delete Facility
          </button>
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-4 rounded" type="submit">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '../../Shared/Layout'
import TrashedMessage from '../../Shared/TrashedMessage'
import { Link, Head } from '@inertiajs/inertia-vue3'

export default {
  name: 'Edit',

  components: {
    TrashedMessage,
    Link,
    Head,
  },

  layout: Layout,

  props: {
    errors: Object,
    facility: Object,
  },

  data() {
    return {
      formEdit: {
        name: this.facility.data.name,
      },
    }
  },

  remember: 'formEditFacility',

  methods: {
    async submit() {
      await this.$inertia.put(this.route('facilities.update', this.facility.data.id), this.formEdit)
    },

    destroy() {
      if (confirm('Are you sure you want to delete this facility?')) {
        this.$inertia.delete(this.route('facilities.destroy', this.facility.data.id))
      }
    },

    restore() {
      if (confirm('Are you sure you want to restore this facility?')) {
        this.$inertia.put(this.route('facilities.restore', this.facility.data.id))
      }
    },
  },
}
</script>
