<template>
  <Head title="Create Position" />
  <div>
    <div class="flex justify-start max-w-3xl mb-8">
      <h1 class="text-3xl font-bold">
        <Link
          class="text-indigo-400 hover:text-indigo-600"
          :href="route('positions.index')"
        >
          Back
        </Link>
        <span class="font-medium text-indigo-400">/</span>
        Create Position
      </h1>
    </div>

    <div class="max-w-3xl overflow-hidden bg-white rounded shadow">
      <form @submit.prevent="submit">
        <div class="flex flex-col flex-wrap p-5">
          <label class="font-bold mb-2" for="name">Name</label>
          <input
            id="name"
            v-model.lazy="formCreate.name"
            class="w-1/2 p-2 border border-gray-500 rounded"
            name="name"
            placeholder="Kepala Divisi Tower"
            type="text"
          >
          <small v-if="errors.name" class="text-red-500 mt-2">{{ errors.name }}</small>
        </div>
        <div class="flex items-center px-8 py-4 bg-gray-100 border-t border-gray-200 w-full justify-end">
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-4 rounded" type="submit">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import { Link, Head } from '@inertiajs/inertia-vue3'

export default {
  name: 'Create',

  components: {
    Link,
    Head,
  },

  layout: Layout,

  props: {
    errors: Object,
  },

  remember: 'formCreatePosition',

  data() {
    return {
      formCreate: {
        name: null,
      },
    }
  },

  methods: {
    async submit() {
      await this.$inertia.post(this.route('positions.store'), this.formCreate)
    },
  },
}
</script>
