<template>
  <Head title="Create Facility Log" />
  <div>
    <div class="flex justify-start max-w-3xl mb-8">
      <h1 class="text-3xl font-bold">
        <Link
          class="text-indigo-400 hover:text-indigo-600"
          :href="route('facility-logs.index')"
        >
          Back
        </Link>
        <span class="font-medium text-indigo-400">/</span>
        Create Facility Log
      </h1>
    </div>

    <div v-if="!operationalLog" class="flex items-center justify-between mb-5 max-w-3xl bg-yellow-400 rounded">
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="flex-shrink-0 ml-4 mr-2 w-4 h-4 fill-black bi bi-exclamation-triangle" viewBox="0 0 16 16">
          <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
          <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
        </svg>
        <div class="pb-4 pt-5 px-1 text-black text-sm font-medium">
          No recent operational logs, please <Link
            class="font-bold underline"
            :href="route('operational-logs.create')"
          >
            create
          </Link>
        </div>
      </div>
    </div>

    <div class="max-w-full overflow-hidden bg-white rounded shadow">
      <form @submit.prevent="submit">
        <div class="flex flex-wrap -mb-20 -mr-6 px-8 pb-8 pt-4">
          <h4 class="my-3 text-xl font-bold">Log Shift</h4>
        </div>
        <div class="flex flex-wrap -mb-10 -mr-6 p-8">
          <span
            class="px-3 py-2 mt-3 text-md font-bold text-white bg-green-500 hover:bg-green-500 rounded-md"
          >
            {{ operationalLog.data.log_date_with_day }} {{ operationalLog.data.shift_name_with_time }}
          </span>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 p-8">
          <div v-for="(facility, index) in formCreate.facilities" :key="facility.id" class="px-10 py-5 items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
            <select-input :id="`status-${facility.id}`" v-model="facility.status" :strong-label="true" :error="errors[`facilities.${index}.status`]" class="pb-4 w-full" :label="facility.name">
              <option value="FUNCTIONAL">Functional</option>
              <option value="FUNCTIONAL_WMI">Functional with Minor Issues</option>
              <option value="NON_FUNCTIONAL">Non Functional</option>
              <option value="UNDER_REPAIR">Under Repair</option>
            </select-input>
            <text-input :id="`desc-${facility.id}`" v-model="facility.description" type="text" class="pt-2 w-full" placeholder="Description" :error="errors[`facilities.${index}.description`]" />
          </div>
        </div>
        <div class="flex items-center px-8 py-4 bg-gray-100 border-t border-gray-200 w-full justify-end">
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-4 rounded" type="submit">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import { Link, Head } from '@inertiajs/inertia-vue3'
import TextInput from '@/Shared/TextInput.vue'
import SelectInput from '@/Shared/SelectInput.vue'

export default {
  name: 'Create',

  components: {
    SelectInput,
    TextInput,
    Link,
    Head,
  },

  layout: Layout,

  props: {
    errors: Object,
    operationalLog: Object,
    facilities: [Object, Array],
  },

  remember: 'formCreateEventLog',

  data() {
    return {
      formCreate: {
        facilities: [...this.facilities],
        operational_log: this.operationalLog.data.id,
      },
    }
  },
  created() {
    console.log(this.facilities)
  },
  methods: {
    async submit() {
      await this.$inertia.post(this.route('facility-logs.store', this.formCreate.operational_log), this.formCreate)
    },
  },
}
</script>
