<template>
  <div>
    <div v-if="can('view-dashboard')">
      <Link
        class="flex items-center py-2 text-sm font-bold uppercase group"
        :href="route('dashboard')"
      >
        <div
          :class="
            isUrl('') ? 'text-white' : 'text-indigo-300 group-hover:text-white'
          "
        >
          Dashboard
        </div>
      </Link>
    </div>
    <div
      v-if="
        can(['view-controller-initials', 'view-facilities', 'view-log-shifts', 'view-positions'])
      "
      class="mt-4 mb-4 text-sm font-bold text-gray-600 uppercase"
    >
      Master Data
    </div>
    <div v-if="can('view-roles')" class="ml-4">
      <Link
        class="flex items-center py-2 text-sm font-bold uppercase group"
        :href="route('roles.index')"
      >
        <div
          :class="
            isUrl('roles')
              ? 'text-white'
              : 'text-indigo-300 group-hover:text-white'
          "
        >
          Roles
        </div>
      </Link>
    </div>
    <div v-if="can('view-facilities')" class="ml-4">
      <Link
        class="flex items-center py-2 text-sm font-bold uppercase group"
        :href="route('facilities.index')"
      >
        <div
          :class="
            isUrl('facilities')
              ? 'text-white'
              : 'text-indigo-300 group-hover:text-white'
          "
        >
          Facilities
        </div>
      </Link>
    </div>
    <div v-if="can('view-log-shifts')" class="ml-4">
      <Link
        class="flex items-center py-2 text-sm font-bold uppercase group"
        :href="route('log-shifts.index')"
      >
        <div
          :class="
            isUrl('log-shifts')
              ? 'text-white'
              : 'text-indigo-300 group-hover:text-white'
          "
        >
          Log Shifts
        </div>
      </Link>
    </div>
    <div v-if="can('view-positions')" class="ml-4">
      <Link
        class="flex items-center py-2 text-sm font-bold uppercase group"
        :href="route('positions.index')"
      >
        <div
          :class="
            isUrl('positions')
              ? 'text-white'
              : 'text-indigo-300 group-hover:text-white'
          "
        >
          Positions
        </div>
      </Link>
    </div>

    <div
      v-if="
        can(['view-operational-logs'])
      "
      class="mt-4 mb-4 text-sm font-bold text-gray-600 uppercase"
    >
      Operational Logs
    </div>
    <div v-if="can('view-operational-logs')" class="ml-4">
      <Link
        class="flex items-center py-2 text-sm font-bold uppercase group"
        :href="route('operational-logs.index')"
      >
        <div
          :class="
            isUrl('operational-logs')
              ? 'text-white'
              : 'text-indigo-300 group-hover:text-white'
          "
        >
          Operational Logs
        </div>
      </Link>
    </div>
    <div v-if="can('view-personnel-logs')" class="ml-4">
      <Link
        class="flex items-center py-2 text-sm font-bold uppercase group"
        :href="route('personnel-logs.index')"
      >
        <div
          :class="
            isUrl('personnel-logs')
              ? 'text-white'
              : 'text-indigo-300 group-hover:text-white'
          "
        >
          Personnel On Duty
        </div>
      </Link>
    </div>
    <div v-if="can('view-facilities-logs')" class="ml-4">
      <Link
        class="flex items-center py-2 text-sm font-bold uppercase group"
        :href="route('facility-logs.index')"
      >
        <div
          :class="
            isUrl('facility-logs')
              ? 'text-white'
              : 'text-indigo-300 group-hover:text-white'
          "
        >
          Facility Logs
        </div>
      </Link>
    </div>
    <div v-if="can('view-event-logs')" class="ml-4">
      <Link
        class="flex items-center py-2 text-sm font-bold uppercase group"
        :href="route('event-logs.index')"
      >
        <div
          :class="
            isUrl('event-logs')
              ? 'text-white'
              : 'text-indigo-300 group-hover:text-white'
          "
        >
          Event Logs
        </div>
      </Link>
    </div>
  </div>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'

export default {
  components: {
    Link,
  },
  methods: {
    isUrl(...urls) {
      let currentUrl = this.$page.url.substr(1)
      if (urls[0] === '') {
        return currentUrl === ''
      }
      return urls.filter((url) => currentUrl.startsWith(url)).length
    },
  },
}
</script>
