<template>
  <Head title="Create Role" />
  <div class="mb-24">
    <div class="mb-8 flex justify-start">
      <h1 class="font-bold text-3xl">
        <Link
          :href="route('roles.index')"
          class="text-indigo-400 hover:text-indigo-600"
        >
          Back
        </Link>
        <span class="text-indigo-400 font-medium">/</span>
        Create Role
      </h1>
    </div>

    <div class="max-w-3xl overflow-hidden bg-white rounded shadow">
      <form @submit.prevent="submit">
        <div class="flex flex-col flex-wrap p-5">
          <label class="font-bold mb-2" for="name">Name</label>
          <input
            id="name"
            v-model.lazy="formCreate.name"
            class="w-1/2 p-2 border border-gray-500 rounded"
            name="name"
            placeholder="Name"
            type="text"
          />
          <small v-if="errors.name" class="text-red-500 mt-2">{{ errors.name }}</small>

          <div v-for="permission in permissions" :key="permission.title">
            <div v-if="permission.title !== 'All Permissions'" class="font-bold mt-5">{{ permission.title }}</div>
            <div v-if="permission.title !== 'All Permissions'" class="grid grid-cols-3 gap-7 my-3">
              <div v-for="p in permission.list" :key="p.name" class="col-span-1">
                <label v-if="permission.title === 'Full Access Permission'" :for="p.name">
                  <input
                    :id="p.name"
                    v-model="isCheckAll"
                    :value="p.name"
                    type="checkbox"
                    @click="checkAll"
                  />
                  {{ p.name }}
                </label>
                <label v-else :for="p.name">
                  <input
                    :id="p.name"
                    v-model="formCreate.permissions"
                    :value="p.name"
                    type="checkbox"
                    @change="updateCheckAll"
                  />
                  {{ p.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center px-8 py-4 bg-gray-100 border-t border-gray-200 w-full justify-end">
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-4 rounded" type="submit">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import { Link, Head } from '@inertiajs/inertia-vue3'

export default {
  components: {
    Link,
    Head,
  },

  layout: Layout,

  props: {
    errors: [Object, Array],
    permissions: [Object, Array],
  },

  remember: 'formCreateRole',

  data() {
    return {
      isCheckAll: false,
      formCreate: {
        name: null,
        permissions: [],
      },
    }
  },

  methods: {
    async submit() {
      if (this.isCheckAll) {
        this.formCreate.permissions.splice(0, this.formCreate.permissions.length)
        this.formCreate.permissions.push('full-access')
      }
      await this.$inertia.post(this.route('roles.store'), this.formCreate)
    },

    checkAll: function () {
      this.isCheckAll = !this.isCheckAll
      if (this.isCheckAll) {
        this.formCreate.permissions.splice(0, this.formCreate.permissions.length)
        this.permissions[0].list.forEach(permission => {
          this.formCreate.permissions.push(permission.name)
        })
      } else {
        this.formCreate.permissions.splice(0, this.formCreate.permissions.length)
      }
    },

    updateCheckAll: function () {
      this.isCheckAll = this.formCreate.permissions.length === this.permissions[0].list.length
    },
  },
}
</script>
