<template>
  <Head title="Edit Role"/>
  <div class="mb-24">
    <div class="mb-8 flex justify-start">
      <h1 class="font-bold text-3xl">
        <Link
          class="text-indigo-400 hover:text-indigo-600"
          :href="route('roles.index')"
        >
          Back
        </Link>
        <span class="text-indigo-400 font-medium">/</span>
        Edit Role
      </h1>
    </div>

    <div class="max-w-3xl overflow-hidden bg-white rounded shadow">
      <form @submit.prevent="submit">
        <div class="flex flex-col flex-wrap p-5">
          <label for="name" class="font-bold mb-2">Name</label>
          <input
            id="name"
            v-model.lazy="formEdit.name"
            type="text"
            placeholder="Name"
            name="name"
            class="w-1/2 p-2 border border-gray-500 rounded mb-2"
            required
          >
          <small v-if="errors.name" class="text-red-500">{{ errors.name }}</small>

          <div v-for="permission in permissions" :key="permission.title">
            <div v-if="permission.title !== 'All Permissions'" class="font-bold mt-5">{{ permission.title }}</div>
            <div v-if="permission.title !== 'All Permissions'" class="grid grid-cols-3 gap-7 my-3">
              <div v-for="p in permission.list" :key="p.name" class="col-span-1">
                <label v-if="permission.title === 'Full Access Permission'" :for="p.name">
                  <input
                    :id="p.name"
                    v-model="isCheckAll"
                    :value="p.name"
                    type="checkbox"
                    @click="checkAll"
                  />
                  {{ p.name }}
                </label>
                <label v-else :for="p.name">
                  <input
                    :id="p.name"
                    v-model="formEdit.permissions"
                    :value="p.name"
                    type="checkbox"
                    @change="updateCheckAll"
                  />
                  {{ p.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-between items-center px-8 py-4 bg-gray-100 border-t border-gray-200 w-full justify-end">
          <Link
            href=""
            class="text-red-500"
            @click.prevent="destroy"
          >
            Delete
          </Link>
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-4 rounded" @click.prevent="duplicate">Duplicate</button>
          <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-4 rounded">Submit</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import { Link, Head } from '@inertiajs/inertia-vue3'


export default {
  components: {
    Link,
    Head,
  },

  layout: Layout,

  props: {
    errors: [Array, Object],
    role: [Array, Object],
    permissions: [Array, Object],
  },

  remember: 'formEditRole',

  data() {
    return {
      isCheckAll: false,
      formEdit: {
        name: this.role.data.name,
        guard_name: this.role.data.guard_name,
        permissions: this.role.data.permissions_by_name,
      },
    }
  },

  mounted() {
    if (this.formEdit.permissions.length === this.permissions[0].list.length) {
      this.checkAll()
    }

    if (this.formEdit.permissions.includes('full-access')) {
      this.checkAll()
    }
  },

  methods: {
    async submit() {
      if (this.isCheckAll) {
        this.formEdit.permissions.splice(0, this.permissions[0].list.length)
        this.formEdit.permissions.push('full-access')
      }
      await this.$inertia.put(this.route('roles.update', this.role.data.id), this.formEdit)
    },

    destroy() {
      if (confirm(`Are you sure you want to delete this ${this.role.data.name} Role?`)) {
        this.$inertia.delete(this.route('roles.destroy', this.role.data.id))
      }
    },

    checkAll: function() {
      this.isCheckAll = !this.isCheckAll
      if (this.isCheckAll) {
        this.formEdit.permissions.splice(0, this.permissions[0].list.length)
        this.permissions[0].list.forEach(permission => {
          this.formEdit.permissions.push(permission.name)
        })
      } else {
        this.formEdit.permissions.splice(0, this.formEdit.permissions.length)
      }
    },

    updateCheckAll: function () {
      this.isCheckAll = this.formEdit.permissions.length === this.permissions[0].list.length
    },

    async duplicate(){
      if (this.isCheckAll) {
        this.formEdit.permissions.splice(0, this.formEdit.permissions.length)
        this.formEdit.permissions.push('full-access')
      }
      await this.$inertia.post(this.route('roles.store'), this.formEdit)
    },
  },
}
</script>
