<template>
  <Head title="Create Log Shift" />
  <div>
    <div class="flex justify-start max-w-3xl mb-8">
      <h1 class="text-3xl font-bold">
        <Link
          class="text-indigo-400 hover:text-indigo-600"
          :href="route('log-shifts.index')"
        >
          Back
        </Link>
        <span class="font-medium text-indigo-400">/</span>
        Create Log Shift
      </h1>
    </div>

    <div class="max-w-3xl overflow-hidden bg-white rounded shadow">
      <form @submit.prevent="submit">
        <div class="flex flex-wrap p-5">
          <text-input v-model="formCreate.name" :error="errors.name" placeholder="PAGI" type="text" class="pb-8 pr-6 w-full lg:w-full" label="Shift Name" />
          <text-input v-model="formCreate.start_time" :error="errors.start_time" type="time" class="pb-8 pr-6 w-full lg:w-1/2" label="Shift Start Time" />
          <text-input v-model="formCreate.end_time" :error="errors.end_time" type="time" class="pb-8 pr-6 w-full lg:w-1/2" label="Shift End Time" />
        </div>
        <div class="flex items-center px-8 py-4 bg-gray-100 border-t border-gray-200 w-full justify-end">
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-4 rounded" type="submit">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import { Link, Head } from '@inertiajs/inertia-vue3'
import TextInput from "@/Shared/TextInput.vue";

export default {
  name: 'Create',

  components: {
    TextInput,
    Link,
    Head,
  },

  layout: Layout,

  props: {
    errors: Object,
  },

  remember: 'formCreateLogShift',

  data() {
    return {
      formCreate: {
        name: null,
      },
    }
  },

  methods: {
    async submit() {
      await this.$inertia.post(this.route('log-shifts.store'), this.formCreate)
    },
  },
}
</script>
