<template>
  <Head title="Edit Log Shift" />
  <div>
    <div class="flex justify-start max-w-3xl mb-8">
      <h1 class="text-3xl font-bold">
        <Link
          class="text-indigo-400 hover:text-indigo-600"
          :href="route('log-shifts.index')"
        >
          Back
        </Link>
        <span class="font-medium text-indigo-400">/</span>
        Edit Log Shift
      </h1>
    </div>

    <TrashedMessage
      v-if="logShift.data.deleted_at && can('restore-log-shift')"
      class="mb-6"
      @restore="restore"
    >
      This log shift has been deleted.
    </TrashedMessage>

    <div class="max-w-3xl overflow-hidden bg-white rounded shadow">
      <form @submit.prevent="submit">
        <div class="flex flex-wrap p-5">
          <text-input v-model="formEdit.name" :error="errors.name" placeholder="PAGI" type="text" class="pb-8 pr-6 w-full lg:w-full" label="Shift Name" />
          <text-input v-model="formEdit.start_time" :error="errors.start_time" type="time" class="pb-8 pr-6 w-full lg:w-1/2" label="Shift Start Time" />
          <text-input v-model="formEdit.end_time" :error="errors.end_time" type="time" class="pb-8 pr-6 w-full lg:w-1/2" label="Shift End Time" />
        </div>
        <div :class="logShift.data.deleted_at ? 'justify-end flex items-center px-8 py-4 bg-gray-100 border-t border-gray-200 w-full' : 'justify-between flex items-center px-8 py-4 bg-gray-100 border-t border-gray-200 w-full'">
          <button
            v-if="!logShift.data.deleted_at && can('delete-log-shift')"
            class="text-red-600 hover:underline"
            tabindex="-1"
            type="button"
            @click="destroy"
          >
            Delete Log Shift
          </button>
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-4 rounded" type="submit">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '../../Shared/Layout'
import TrashedMessage from '../../Shared/TrashedMessage'
import { Link, Head } from '@inertiajs/inertia-vue3'
import TextInput from "@/Shared/TextInput.vue";

export default {
  name: 'Edit',

  components: {
    TextInput,
    TrashedMessage,
    Link,
    Head,
  },

  layout: Layout,

  props: {
    errors: Object,
    logShift: Object,
  },

  data() {
    return {
      formEdit: {
        name: this.logShift.data.name,
        start_time: this.logShift.data.start_time,
        end_time: this.logShift.data.end_time,
      },
    }
  },

  remember: 'formEditLogShift',

  methods: {
    async submit() {
      await this.$inertia.put(this.route('log-shifts.update', this.logShift.data.id), this.formEdit)
    },

    destroy() {
      if (confirm('Are you sure you want to delete this log shift?')) {
        this.$inertia.delete(this.route('log-shifts.destroy', this.logShift.data.id))
      }
    },

    restore() {
      if (confirm('Are you sure you want to restore this log shift?')) {
        this.$inertia.put(this.route('log-shifts.restore', this.logShift.data.id))
      }
    },
  },
}
</script>
