<template>
  <Head title="Login" />
  <div class="p-6 bg-cover min-h-screen flex justify-center items-center bg-opacity-5" style="background-image: url('/images/image.png')">
    <div class="w-full max-w-md">
      <logo class="block mx-auto w-full max-w-xs fill-white h-36" height="75" />
      <h1 class="font-extrabold text-4xl text-white mt-5 text-center">S I A P E L O</h1>
      <p class="text-center text-gray-300 font-semibold leading-loose text-sm">Aplikasi ATS Operational Log Book</p>
      <flash-messages />
      <form class="mt-8 bg-white rounded-lg shadow-xl overflow-hidden" @submit.prevent="login">
        <div class="px-10 py-12">
          <p class="text-center text-gray-400 leading-loose text-sm">Perum LPPNPI Kantor Cabang Pembantu Lampung</p>
          <div class="mt-6 mx-auto w-24 border-b-2" />
          <text-input v-model="form.email" :error="errors.email" class="mt-10" label="Email" type="email" autofocus autocapitalize="off" />
          <text-input v-model="form.password" :error="errors.password" class="mt-6" label="Password" type="password" />
        </div>
        <div class="flex px-10 py-4 bg-gray-100 border-t border-gray-100">
          <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Login</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head } from '@inertiajs/inertia-vue3'
import Logo from '@/Shared/Logo'
import TextInput from '@/Shared/TextInput'
import LoadingButton from '@/Shared/LoadingButton'
import FlashMessages from '@/Shared/FlashMessages.vue'
import throttle from "lodash/throttle";

export default {
  components: {
    Head,
    LoadingButton,
    Logo,
    TextInput,
    FlashMessages,
  },
  props: {
    errors: Object,
  },
  data() {
    return {
      form: this.$inertia.form({
        email: '',
        password: '',
      }),
    }
  },
  watch: {
    errors: {
      deep: true,
      handler: throttle(function () {
        console.log(this.errors)
      }, 50),
    },
  },
  methods: {
    async login() {
      await this.$inertia.post(this.route('login.store'), this.form)
    },
  },
}
</script>
